@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

.clear-fix {
    clear: both;
}

.clear-fix::after {
    display: block;
    content: "";
    clear: both;
}



/* Typography */

h1 {
    font-size: 1.6rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
}


h3{
    font-size: 1.2rem;
    line-height: 1.6rem;
}


h4 {
    font-size: 1rem;
    line-height: 1.4rem;
}


h5 {
    font-size: 0.8rem;
    line-height: 1.2rem;
}

h6 {
    font-size: 0.6rem;
    line-height: 1rem;
}


/* Layout */


#app-row {
    height: 80px;
}

#nav-row {
    background-color: aqua;
}

#misc-row {
    background-color: bisque;
}

.container {
    width: 1170px;
    margin: 0 auto;
    
}

#app-row>.container {
    height: 100%;
    padding: 10px 0;
    
}


#logo {
    height: 60px;
    float: left;
}

#app-row>.container>.wrapper {
    height: 100%;
    width: 73%;
    float: right;
}


/* #app-row>.container>.wrapper>.row:first-child{
    background-color: yellowgreen
} */

#app-row>.container>.wrapper>.row:nth-child(2){
    padding-top: 8.5px;

       
}


#nav-lang {
    float: right;
}

#nav-lang>ul>li {
    float: left;
}


nav li>a {
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}

nav li>a:hover {
    color: #ff9d1e;
    text-decoration: underline;
}



#nav-lang>ul>li {
    padding-left:20px;
}

#main-nav {
    float: left;
    padding-top: 15px;


    
}

#main-nav>ul>li>a:hover {
    color: black;
}

#main-nav>ul>li {
    float: left;
    padding-left: 52px;
}

#smi-container {
    
    float: right;

}

#smi-container>ul>li{
    float: left;
    padding:4px;
    margin-left: 8px;
    margin-top: 10px;
}

#smi-container>ul li:hover {
    cursor: pointer;
}




#smi-container>ul>li>ion-icon {
    font-size: 1.0rem;
    color: white;
}



#smi-container ul li:nth-child(1) {
    background-color: #3f4da1 ; 
    
}

#smi-container ul li:nth-child(2) {
    background-color: #57a0d7;
}

#smi-container ul li:nth-child(3) {
    background-color: #57a0d7;
}

#smi-container ul li:nth-child(4) {
    background-color: #d74527;
}






/* .container {
    width: 1170px;
    overflow: hidden;
}

nav,ul {
    overflow: hidden;
}



main {
    background-color: aqua;
}

footer {
    background-color: blueviolet;
}



#top-row {
    padding: 10px 0px;
    height: 80px;

}

#top-row>.container {
    margin-left: auto;
    margin-right: auto;
}

#nav-row {
    background-color: blueviolet;
}

#logo {
    height: 60px;
    padding-left: 15px;
}

#top-row>.container>img {
    float: left;
}

#top-row>.container>div {
    float: right;
}

nav li:hover {
    text-decoration: underline;
    
}

nav li {
    cursor: pointer;
}

#nav-lang {
    padding-bottom: 5px;
}


#nav-lang li {
    float: right;
    padding: 5px 10px;
    font-size: 0.8rem;
}

#nav-lang li:hover {
    color: #ff9d1e;
}

#main-nav li {
    float: left;
    padding: 10px 20px 0;
    font-size: 0.8rem;
}

#main-nav {
    float: left;
}

#smi-container {
    
    padding: 7px;


}

#smi-container li {
    float: left;
    padding: 5px;
    background-color: yellow;
    margin-left: 10px;


} */